.navbar {
    background-color: #0B5B99;
    color: white;
}

.navbar a {
    font-weight: bolder;
    color: white;
}

.marginTop{
    margin-top: 21px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    flex: 1 0 auto;
}

#main-content {
    height: 100%;
}

/* footer */
.footer {
    background-color: #0B5B99;
    color: white;
    width:100%;
    margin-top: 21px;
}

.footer-main {
    padding: 2.5rem 0 0;
}

.hr-footer {
    background-color: white;
    color: white;
}

/* algemene achtergrond kleuren */
.achtergrond {
    background-color: #0B5B99;
    color: white;
}

.achtergrond ul {
    list-style-type: none;
}

.achtergrond a {
    color: white;
}

.achtergrond a:hover{
    text-decoration: underline;
}

/* Buttons */
.btn-primary {
    background-color: #0B5B99;
    border-color: #0B5B99;
}

.custom-toggler.navbar-toggler {
    border-color: rgba(255,255,255, 0.7);
    border-width: 1.5px;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* No transition */
.no-transition {
    transition: none !important;
}