.navbar {
    background-color: #0B5B99;
    color: white;
}

.navbar a {
    font-weight: bolder;
    color: white;
}

.marginTop{
    margin-top: 21px;
}

/* footer */
.footer {
    background-color: #0B5B99;
    color: white;
    /*position:absolute;
    bottom:0;*/
    width:100%;
    margin-top: 21px;
}

.footer-main {
    padding: 2.5rem 0 0;
}

.hr-footer {
    background-color: white;
    color: white;
}

/* algemene achtergrond kleuren */
.achtergrond {
    background-color: #0B5B99;
    color: white;
}

.achtergrond ul {
    list-style-type: none;
}

.achtergrond a {
    color: white;
}

.achtergrond a:hover{
    text-decoration: underline;
}